@media ( max-width: 1200px )
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    padding-bottom: 60px
    &-grid
      max-width: 100%
  .map
    margin-top: 21px
@media ( max-width: 992px )

  .container, .newsletter-wrapper
    max-width: 700px
  .navbar
    &-container
      max-width: 672px
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px
    .logo
      width: 132px
      margin-bottom: 4px
    &-list
      padding-top: 20px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel-info__rating
    margin-top: 6px
  .search
    &__input
      width: 340px
  .breadcrumb
    &-list
      margin-top: 2px
  .hotel
    &-info
      &__offer
        margin-bottom: 2px
    &-grid
      flex-direction: column
      max-height: none
    &__slider
      margin-bottom: 30px
      width: 100%
    &-right
      flex-direction: row
      margin-top: 30px
  .slider
    max-width: 100%
    height: 450px
    margin-bottom: 28px
  .booking
    min-width: 340px
    width: 340px
    height: 210px
    padding: 29px 23px 26px 23px
  .slider
    width: 100%
    margin-bottom: 0
  .map
    width: 340px
    height: 210px
    margin-top: 0
  .newsletter
    padding-top: 72px
    padding-bottom: 73px
  .reviews
    padding-top: 15px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__button
        top: 50%
        &--prev
          background-image: url(../img/arrow-prev-sec.svg)
          left: 0
        &--next
          background-image: url(../img/arrow-next-sec.svg)
          right: 0
      &__item
        max-width: 579px

@media ( max-width: 767px )
  .container,
    max-width: 576px
    width: 87%
  .navbar
    &__search, &-list, &__user
      display: none
    &-top
      padding-top: 24px
      padding-bottom: 18px
      .logo
        max-width: 97px
        padding-bottom: 8px
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 16px
      height: 11px
      margin: 0 0 8px 0
      padding: 0
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .breadcrumb
    &-list
      padding: 19px 0 10px 0
  .stars
    flex-basis: 50%
    text-align: right
    margin-right: 15px
    margin-bottom: 2px

  .hotel__slider
    height: auto
  .hotel
    padding-top: 8px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 8px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      margin-top: 0
  .swiper-container
    margin-bottom: 0
  .hotel__slider
    min-height: 179px
    height: 179px
  .slider
    margin-bottom: 20px
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
  .hotel-slider__button
    width: 12px
    height: 12px
    &--prev
      background-image: url(../img/320-prev.svg)
      left: 10px
    &--next
      background-image: url(../img/320-next.svg)
      right: 10px
  .newsletter
    padding: 22px 0 83px 0
    &-wrapper
      max-width: 576px
      width: 87%
      flex-direction: column
      align-items: flex-start
    &-title
      color: $light
      font-family: "Mulish"
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        display: block
        padding-top: 5px
        margin-bottom: 21px
        font-family: "Mulish"
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
        text-transform: uppercase
    &__subscribe
      max-width: 100%
  .newsletter__subscribe
    max-width: 100%
  .subscribe
    max-width: 100%
  .subscribe__input
    padding-left: 20px
  .reviews
    padding-top: 40px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      max-width: 245px
      margin: auto
      margin-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: -92px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          margin-right: -88px
          right: 50%
          transform: translate(50%, 0)
  .newsletter__subscribe
    max-width: 100%
@media ( max-width: 576px )
  .logo
    width: 99px
  .breadcrumb
    &-list
      padding-top: 17px
  .hotel
    &-info
      padding-bottom: 38px
    &__slider
  .slider
  .booking
    max-width: 100%
    min-width: 100%
  .newsletter
    &-wrapper
      min-width: 280px
