*
  box-sizing: border-box
  text-decoration: none
  list-style-type: none

body
  font-family: "Mulish", sans-serif
  color: $text-color
  background-color: $secondary

.container
  max-width: 1110px
  margin: auto
  height: 100%

img
  max-width: 100%

button:hover, button:focus
  box-shadow: inset -10.5em 0 0 0 #ff7f82, inset 10.6em 0 0 0 #ff7f82
  transition: 0.7s
